<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reshiram Playground</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lab.css') }}">
    <script src="{{ url_for('static', filename='js/lab.js') }}"></script>
</head>
<body>
    <img src="{{ url_for('static', filename='img/banner_white.webp') }}" class="banner-img" alt="banner">
    <h1>Reshiram Playground - Bypass Whitelist</h1>
    <p><b>Zekrom</b> scored 50 point, you need to help <b>Reshiram</b> win by rolling a bigger number for him!!</p>
    <button id="generate-btn" onclick="generate('w')">Generate Random Number</button>
    <div id="result"></div>

    <button id="toggle-code-btn" class="toggle-btn" onclick="showCode('displayCode/reshiram.txt')">Show Code</button>
    <div id="code-container"></div>
</body>
</html>
